<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Menu Principal</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styleBodega.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styleParametroConsecutivo.css">
    <link rel="stylesheet" href="css/styleNavBar.css">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Menu Principal</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Tramsa</p>
                <li class="active">
                    <li>
                        <a href="#pageSistema" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sistema</a>
                        <ul class="collapse list-unstyled" id="pageSistema">
                            <li>
                                <a href="">***Cambiar Contraseña***</a>
                            </li>
                            <li>
                                <a href="">***Reiniciar Sesion***</a>
                            </li>
                            <li>
                                <a href="">***Salir***</a>
                            </li>

                        </ul>
                    </li>
                </li>
                <li>
                    <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Parametros</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu1">
                        <li>
                            <a href="parametro.html">Generales</a>
                        </li>
                        <li>
                            <a href="parametroConsecutivos.html">Consecutivos</a>
                        </li>
                        <li>
                            <a href="">***Idioma***</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Administracion</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li>
                            <a href="tiposMateriaPrima.html">Tipo Materia Prima</a>
                        </li>
                        <li>
                            <a href="camiones.html">Camiones</a>
                        </li>



                        <li>
                            <a href="materiaPrima.html">Materia Prima</a>
                        </li>
                        <li>
                            <a href="bodegas.html">Bodegas</a>
                        </li>
                        <li>
                            <a href="#pageProductos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Productos</a>
                            <ul class="collapse list-unstyled" id="pageProductos">
                                <li>
                                    <a href="productosMaestro.html">Maestro</a>
                                </li>
                                <li>
                                    <a href="productosDetalle1.html">Detalle</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="Clientes3.html">Empresas/Clientes</a>
                        </li>
                        <li>

                            <a href="Proveedores2.html">Proveedores</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenuProcesos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Procesos</a>
                    <ul class="collapse list-unstyled" id="pageSubmenuProcesos">

                        <li>
                            <a href="CrearPedidosMateriaPrimaMaestro4.html">Crear Pedidos Materia Prima Maestro</a>
                        </li>
                        <li>
                            <a href="CrearPedidosMateriaPrimaDetalle5.html">Crear Pedidos Materia Prima  Detalle</a>
                        </li>
                        <li>
                            <a href="Ordenes6.html">Comprobar orden de pedido</a>
                        </li>
                        <li>
                            <a href="">Entrada de Inventario</a>
                        </li>
                        <li>
                            <a href="ProduccionEnLote7.html">Produccion en lote</a>
                        </li>
                        <li>
                            <a href="puntoDeVenta.html">Punto de Venta</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageCajas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cajas</a>
                    <ul class="collapse list-unstyled" id="pageCajas">
                        <li>
                            <a href="cajas.html">***Apertura de Cajas****</a>
                        </li>
                        <li>
                            <a href="">***Arqueo de Cajas ***</a>
                        </li>
                        <li>
                            <a href="#">****Pases de Dinero****</a>
                        </li>
                        <li>
                            <a href="#">***Exportar Facturas XML***</a>
                        </li>
                        <li>
                            <a href="#">***Cierre de Caja***</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSeguridad" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Seguridad</a>
                    <ul class="collapse list-unstyled" id="pageSeguridad">
                        <li>
                            <a href="eventos.html">Eventos</a>
                        </li>
                        <li>
                            <a href="roles.html">Roles</a>
                        </li>
                        <li>
                            <a href="#usuarios.html">Usuarios</a>
                        </li>

                    </ul>
                </li>
                <li>

                    <a href="#pageConsultas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Consultas</a>
                    <ul class="collapse list-unstyled" id="pageConsultas">
                        <li>
                            <a href="">****Bitacora****</a>
                        </li>
                        <li>
                            <a href="">***Clientes****</a>
                        </li>
                        <li>
                            <a href="">***Pedidos Pendiemntes***</a>
                        </li>
                        <li>
                            <a href="">***Facturas***</a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href="#pageReportes" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reportes</a>
                    <ul class="collapse list-unstyled" id="pageReportes">
                        <li>
                            <a href="">****Productos****</a>
                        </li>
                        <li>
                            <a href="">***Clientes****</a>
                        </li>
                        <li>
                            <a href="">***Inventario***</a>
                        </li>
                        <li>
                            <a href="">***Ventas***</a>
                        </li>
                        <li>
                            <a href="">***Costos de Produccion***</a>
                        </li>
                        <li>
                            <a href="">***Estadisticas***</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageAyuda" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ayuda</a>
                    <ul class="collapse list-unstyled" id="pageAyuda">
                        <li>
                            <a href="">****Acerca De****</a>
                        </li>
                        <li>
                            <a href="">***Ayuda****</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <button class="btn btn-primary btn-lg">Cerrar Sesion</button>
                </li>

            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="contenido">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>


                </div>
            </nav>
            <div class="container">
                <h1 class="title mb-5">Eventos</h1>

                <div class="container " id="infoFlitrar">
                    <h4 class="mb-4">Informacion a filtrar</h4>

                    <input type="radio">
                    <label for="numBodega">Por numero de evento</label><br>
                    <input type="radio">
                    <label for="nombreCorto">Por nombre corto</label><br>
                </div>

                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Codigo Evento</th>
                            <th>Descripcion de Evento</th>


                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>1</td>
                            <td>Evento 1</td>


                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Codigo Evento</th>
                            <th>Descripcion de Evento</th>

                        </tr>
                    </tfoot>
                </table>
                <h1 id="titulo">Agregar datos de la Tabla</h1>

                <form id="eventos-form" class="card card-body">
                    <div class="form-group m-4 col-sm-8 mx-auto d-block">
                        <label for="formGroupExampleInput">Codigo Evento</label>
                        <input id="userIdIpnut" class="form-control" type="text" placeholder="">
                    </div>
                    <div class="form-group m-4 col-sm-8 mx-auto d-block">
                        <label for="formGroupExampleInput">Descripcion de Evento</label>
                        <input id="IdIpnut" class="form-control" type="text" placeholder="">
                    </div>



                    <div class="text-center">

                        <button id="btnAgregar" type="button" class="btn btn-primary  mt-4 ml-2 col-sm-2">Aceptar</button>
                    </div>
                </form>








            </div>

        </div>


        <script type="text/javascript">
            $(document).ready(function() {
                $('#sidebarCollapse').on('click', function() {
                    $('#sidebar').toggleClass('active');
                });
            });

            $(document).ready(function() {
                $('#example').DataTable();
            });
        </script>
</body>

</html>