#btnAbrir{
 width: 500px;
}
#content{
    width: 100%;
}
#botonesFinal{
    text-align: center;
}

#btnAceptarDiv{
   text-align: center;
   }


   #divInicio{
    text-align: center;
    }

    #dropdownMenuButton{
        width: 100%;
    }